* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
