.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.MH_DangNhap {
  width: 1728px;
  height: 985px;
  flex-grow: 0;
  background-color: #401a89 !important;
}
.Register {
  width: 67px;
  height: 20px;
  margin: 9px 41px 0 5px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0000e4;
}
.Login {
  width: 102px;
  height: 39px;
  margin: 0 14px 29px 150px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: left;
  color: #000;
}
.Login_1 {
  width: 130px;
  height: 39px;
  margin: 0 14px 18px 132px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: left;
  color: #000;
}
.Rectangle-3 {
  width: 23%;
  height: 33%;
  margin: 23.2px 78px 244px 645px;
  padding: 19px 22px 18px;
  border-radius: 5px;
  background-color: #fff;
}
.Rectangle-31 {
  width: 22%;
  height: 48%;
  margin: 23.2px 78px 244px 645px;
  padding: 19px 22px 18px;
  border-radius: 5px;
  background-color: #fff;
}
.Rectangle-32 {
  width: 23%;
  height: 14%;
  margin: 23.2px 78px 244px 645px;
  padding: 19px 22px 18px;
  border-radius: 5px;
  background-color: #fff;
}
.Rectangle-33 {
  width: 94%;
  height: 100%;
  margin: 2% 0 0 2%;
  border-radius: 5px;
  background-color: #fff;
}
.Rectangle-4 {
  width: 346px;
  height: 58px;
  margin: 20px 0 0px;
  padding: 0px 0px 0px 40px;
  border-radius: 5px;
  font-size: large;
  border: solid 1px #a1a1a1;
}
.image-4 {
  padding-top: 10%;
}
.Dont-have-an-account {
  width: 192px;
  height: 20px;
  margin: 9px 5px 0 55px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Rectangle-6 {
  width: 350px;
  height: 58px;
  font-size: 150%;
  font-weight: 550;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
}
.Rectangle-13 {
  width: 1726px;
  height: 60px;
  padding: 34px 1510px 30px 31px;
  background-color: #fff;
}
.Rectangle-14 {
  width: 1726px;
  height: 985px;
  flex-grow: 0;
  margin: 0 0 0 2px;
  padding: 0 0 274px;
  background-color: #f3f2f2;
}
.image-5 {
  width: 18px;
  height: 62px;
}
.Choose-your-account-type {
  margin-left: 39%;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #353434;
}
.Rectangle-5 {
  width: 91%;
  height: 20%;
  flex-grow: 0;
  margin: 17% 0px 0 -26%;
  padding: 12px 34px 9px 89px;
  background-color: #fff;
}
.Teacher {
  margin: 1% 0 0 20%;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #343435;
}
.MH-View-Room-List-1 {
  width: 1728px;
  height: 985px;
  flex-grow: 0;
  background-color: #f8f8f8;
}
.Rectangle-13 {
  width: 1726px;
  height: 83px;

  padding: 32px 41.3px 0px 40px;
  background-color: #fff;
}
.image-5 {
  width: 185px;
  height: 62px;
  flex-grow: 0;
  margin: 0 1416px 0 0;
}
.dropdown {
  margin-top: -10%;
  margin-left: 70%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.dropdown-content-a {
  color: black;
  padding: 5px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
}
.dropdown-content .dropdown-content-a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.Room {
  width: 35%;
    margin-left: 10px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #000;
}

.Start-room {
  width: 17%;
  margin-left: 69%;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #fff;
  border-radius: 5px;
  background-color: #3067c8;
  border: none;
}
.Start-room1 {
  width: 24%;
  margin-left: 63%;
  text-align: center;
  margin-bottom: 2%;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.3px;
  background-color: #3067c8;
  border-radius: 5px;
  border: none;
}
.btn-edit {
  width: 22%;
  margin-right: 1%;
  font-family: Montserrat;
  font-size: 140%;
  background-color: #3067c8;;
  border-radius: 5px;
  border: none;
  color: white;
}
.btn-edit1 {
  width: 22%;
  margin-left: 10%;
  margin: auto;
  font-family: Montserrat;
  font-size: 140%;
  border-radius: 5px;
  background-color: #d03643;
  border: none;
  color: white;
}
